@font-face {
    font-family: 'IzmirNarrow';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-SemiboldRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-SemiboldRegular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IzmirNarrow';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-RegularRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-RegularRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IzmirNarrow';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-ThinRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-ThinRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IzmirNarrow';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-HeavyRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-HeavyRegular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IzmirNarrow';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-BoldRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-BoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-MediumRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-MediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-SemiboldRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-SemiboldRegular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IzmirNarrow';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-ExtralightRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-ExtralightRegular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-RegularRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-RegularRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-ThinRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-ThinRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IzmirNarrow-Hairline';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-HairlineRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-HairlineRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IzmirNarrow';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-BlackRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-BlackRegular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IzmirNarrow';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-MediumRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-MediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-ThinItalicItalic.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-ThinItalicItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IzmirNarrow';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-ExtraboldRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-ExtraboldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IzmirNarrow';
    src: url('fonts/FONTSPRINGDEMO-IzmirNarrow-LightRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IzmirNarrow-LightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-BlackRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-BlackRegular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir-HairlineItalic';
    src: url('fonts/FONTSPRINGDEMO-Izmir-HairlineItalicItalic.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-HairlineItalicItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir-Hairline';
    src: url('fonts/FONTSPRINGDEMO-Izmir-HairlineRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-HairlineRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-LightRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-LightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-HeavyRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-HeavyRegular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-ExtraboldRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-ExtraboldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-ExtralightExtralight.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-ExtralightExtralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Izmir';
    src: url('fonts/FONTSPRINGDEMO-Izmir-BoldRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-Izmir-BoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

