

.gap {
    padding: 120px 0px;
}


.hidden-desktop {
    display: none;
}

.hidden-mobile {
    display: none;
}



@font-face {
    font-family: 'Space Grotesk';
    src: url('./fonts/SpaceGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./fonts/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./fonts/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

body, html {
    overflow-x: hidden; /* Yatay kaydırmayı engeller ama dikeyi korur */
    overflow-y: auto; /* Dikey kaydırmayı aktif eder */
}


* {
    margin: 0;
    box-sizing: border-box;

}

.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.img-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-container.before {
    z-index: 1;
    clip-path: polygon(0 0, var(--position) 0, var(--position) 100%, 0 100%);
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #fff;
    z-index: 3;
    left: var(--position);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: col-resize;
}

.slider-handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.slider-handle::before, .slider-handle::after {
    content: '';
    position: absolute;
    background-color: #555;
    width: 2px;
    height: 15px;
}

.slider-handle::before {
    left: 15px;
}

.slider-handle::after {
    right: 15px;
}

.banner-info-area {
    position: absolute;
    bottom: 5%;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.green-box {
    background-color: #025949;
    color: #FB8925;
    padding: 30px 30px;
    position: relative;
    left: 48%;
    z-index: 9;
    width: 100%;
    max-width: 55%;
}

.green-box h4 {
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    text-align: end;
}

.green-box span {
    font-size: 17px;
    line-height: 17px;
    font-weight: 300;
}

.green-box h2 {
    font-weight: 300;
    font-size: 24px;
}

.green-box p {
    font-size: 26px;
    font-weight: 500;
}

.orange-box {
    background-color: #FB8925;
    color: #025949;
    padding: 10px 30px;
    width: 100%;
    max-width: 440px;
    position: absolute;
    right: -3%;
    top: -15%;
    z-index: 10;
}

.orange-box p {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 0;
}


h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}


.header-container {
    background-color: #ffffff;
    padding: 20px 0 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Added for hamburger positioning */
}

.title-container {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-bottom: -5px;
    margin-left: 2rem;
}

.residential a {
    color: #FB8925;
    font-size: 47px;
    line-height: 1;
    font-weight: 300;
    text-decoration: none;
}

.commercial a {
    color: #111111;
    opacity: 0.2;
    font-size: 47px;
    line-height: 1;
    font-weight: 300;
    margin-left: 0;
    text-decoration: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.logo {
    max-width: 100%;
    height: auto;
}

.nav-menu {
    width: 100%;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap; /* Prevent wrapping */

}

.nav-item {
    font-size: 19px;
    color: #FB8925;
    text-decoration: none;
    margin-left: 30px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.nav-item:hover {
    color: #e67814;
    text-decoration: none;
}

.menu-img {
    height: 97px;
    width: auto;
    margin-left: 30px;
    align-self: flex-end;
    margin-bottom: -25px;
    z-index: 1;
}

.hamburger-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: #FB8925;
    cursor: pointer;
    padding: 10px;
}

.contact-title {
    font-size: 94px;
    font-weight: 400;
    color: #165c37;
    text-wrap: nowrap;
}

.contact-subtitle {
    font-size: 80px;
    color: #828282;
    opacity: 0.4;
    padding-left: 30px;
    text-wrap: nowrap;
}

.contact-desc {
    color: #828282;
    font-size: 20px;
    font-weight: 300;
}

.contact-form-area {
    background: white;
    padding: 20px;
    border-radius: 11px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.16));
}

.btn-send {
    background-color: #025949;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 22px;
    font-size: 25px;
    font-weight: 500;
}

.contact-form-area .contact-btn {
    right: -8%;
}

.contact-form input {
    border-bottom: 1px solid #707070;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 95%;
    border-radius: 0;
}

.contact-form label {
    text-align: left;
}


.form-control:focus {

    box-shadow: none !important;
    border-color: #ccc !important; /* Kenarlığın sabit kalmasını sağlar */
}

.py-120{
    padding:120px 0px;
}


textarea {
    border: 1px solid #ccc;
    height: 80px;
    background: linear-gradient(transparent 33%, #ccc 33%, #ccc 34%, transparent 34%, transparent 66%, #ccc 66%, #ccc 67%, transparent 67%);
    background-size: 100% 48px; /* Çizgi aralıklarını ayarlar */
    padding: 10px;
    resize: none;
}

.message-container {
    width: 100%;
    max-width: 540px;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    color: #333;
}

.input-wrapper {
    position: relative;
}

textarea {
    width: 100%;
    min-height: 50px;
    padding: 0;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    z-index: 2;
    position: relative;
}

.line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    left: 0;
    bottom: 25%;
}

.line-top {
    top: 25%;
}

.image-container {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.image-title {
    position: absolute;
    bottom: -40px;
    left: 52%;
    transform: translateX(-50%);
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.22em;
}
.title-green { color: #1E463E; }
.title-orange { color: #E3702D; }

.input-wrapper:focus-within .line {
    background-color: #555;
}

.btn-send:hover {
    background-color: #134e2d;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: #fb8925;
    color: #1E463E;
}

@media (max-width: 1600px) {
    /* Added new breakpoint */
    .nav-item {
        margin-left: 20px; /* Reduced spacing */
        font-size: 17px; /* Reduced font size */
    }

    .menu-img {
        height: 85px; /* Reduced image size */
        margin-left: 20px;
    }

    .nav-wrapper {
        justify-content: center;
        margin-right: 0;
    }

    .residential a, .commercial a {
        font-size: 40px;
    }

    .title-container {
        margin-bottom: 0;
    }

    .menu-img {
        display: none;
    }

    .orange-box {
        max-width: unset;
        right: -48%;
    }

    .orange-box p {
        max-width: 40%;
    }

    .green-box {
        max-width: 62%;
    }


    .banner-info-area {
        bottom: 15%;
    }
}

@media (max-width: 1400px) {
    /* Added new breakpoint */
    .residential a, .commercial a {
        font-size: 30px;
    }

    .orange-box p {
        max-width: 50%;
    }
}

@media (max-width: 1200px) {
    /* Added new breakpoint */
    .nav-item {
        margin-left: 15px; /* Further reduced spacing */
        font-size: 16px;
    }

    .menu-img {
        height: 75px;
        margin-left: 15px;
    }

    .residential a, .commercial a {
        font-size: 25px;
    }
}

@media (max-width: 992px) {
    .title-container {
        display: none;
    }

    .residential a, .commercial a {
        font-size: 32px;
    }

    .logo-container {
        justify-content: space-between;
    }

    .hamburger-toggle {
        display: block;
        top: 25px;
        right: 25px;
        z-index: 1000;
    }

    .nav-menu {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 350px;
        height: 100vh;
        background-color: white;
        padding: 100px 40px 40px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 999;
        transition: all 0.3s ease;
    }

    .nav-menu.show {
        visibility: visible;
        opacity: 1;
    }

    .nav-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
    }

    .nav-item {
        margin: 20px 0;
        font-size: 22px;
    }

    .menu-img {
        height: 70px;
        margin: 25px 0;
        align-self: center;
    }

}

@media (max-width: 768px) {
    .container-fluid {
        padding-left: 25px;
        padding-right: 25px;
    }

    .title-container {
        justify-content: center;
        margin-left: 0;
    }

    .residential a, .commercial a {
        font-size: 28px;
    }

    .banner-info-area {
        bottom: 0;
        right: 0;
    }

    .orange-box {
        max-width: 100%;
        right: 0;
        top: -25%;
    }

    .green-box {
        max-width: 100%;
        left: 0;
        padding: 40px;
    }
    .green-box h4 {
        text-align: left;
    }
    .contact-title{
        font-size: 44px;
        text-wrap:wrap;
    }
    .contact-subtitle{
        font-size: 30px;
        padding-left: 0;
    }
    .contact-form-area .contact-btn{
        right: unset;
        left: 0;
        width: 100%;
    }
    .btn-send {
        width: 100%;
        color: #fff;
    }
    .our-works-area::before{
        display: none;
    }
    .our-works-area::after{
        display: none;
    }
    .our-works-area .works-title{
        font-size: 66px !important;
    }
    .our-works-area ul li a{
        font-size: 20px !important;
    }
    .our-works-area ul {
        padding-left: 0;
    }
    .our-works-area .works-title{
        justify-content: center;
        gap: 20px;
    }
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.menu-overlay.show {
    display: block;
}


.explore-text {
    color: #025949;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: start;
    position: relative;
    display: inline-block;
    width: 100%;
}


.explore-text::before {
    content: "";
    position: absolute;
    left: -50%;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #FB8925;
    filter: drop-shadow(0px 2px 4px rgba(251, 137, 37, 0.5)); /* Turuncu tonlu gölge */
}


.heading-container {
    position: relative;
}

.bg-orange {
    background-color: #FB8925;
}


.our-packs {
    color: #828282;
    font-size: 87px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
}

.packs img {
    height: 100px;
    object-fit: cover;
}

.deliverables {
    color: #828282;
    font-size: 69px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
}

.card {
    overflow: hidden;
    border: none !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

a{
    text-decoration: none !important;
}

.gradient-card:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 45px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.85) 0%, rgba(251, 137, 37, 0.13) 100%);
    z-index: 1;
}


.number-card {
    position: relative;
    overflow: visible;

}

.number-card::before {
    content: attr(data-number); /* data-number içeriğini al */
    position: absolute;
    left: -15%; /* Konumu ihtiyacına göre ayarla */
    top: 50%;
    transform: translateY(-50%);
    font-size: 340px; /* Boyutu ihtiyacına göre ayarla */
    font-weight: bold;
    color: #828282;
    opacity: 0.1;
    z-index: -1;
}


.card-title {
    color: #444343;
    font-size: 33px;
    font-weight: 600;
    padding-top: 50px;
    margin-bottom: 2px;
}

.card-subtitle {
    color: #B1B1B1;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 300;
}

.gradient-card .card-body {
    position: relative;
    bottom: -25%;
}

.card-text {
    color: #444343;
    font-size: 15px;
    padding-bottom: 10px;
}


.deliverable-title {
    color: #444343;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 20px;
    opacity: .3;
}

.deliverable-list {
    list-style-type: none;
    padding-left: 0;
}

.deliverable-list li {
    color: #666;
    margin-bottom: 8px;
    font-size: 14px;
}

.estimated-time {
    color: #aaa;
    font-size: 14px;
    font-style: italic;
    text-align: right;
    margin-top: 20px;
    position: absolute;
    top: -30%;
    right: 0;
}

/* Icons */
.icon-container img {
    height: 170px;
    object-fit: cover;
}

@media (max-width: 992px) {
    .our-packs {
        font-size: 60px;
    }

    .deliverables {
        font-size: 50px;
    }

    .gradient-card .card-body {
        bottom: 0;
    }

    .estimated-time {
        top: -10px;
    }

    .explore-text {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .our-packs {
        font-size: 40px;
    }

    .deliverables {
        font-size: 32px;
    }

    .card:before {
        width: 100px;
        height: 30px;
    }
}

.custom-section {
    background: rgb(251, 137, 37);
    background: linear-gradient(90deg, rgba(251, 137, 37, 1) 37%, rgba(255, 255, 255, 1) 100%);
    position: relative;
    z-index: 1;
    padding: 20px 0;
}


.content-box img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.text-content {
    color: #025949;
    z-index: 3;
    position: relative;
}

.text-content h5 {
    color: #444343;
    font-size: 32px;
    font-weight: 500;
    text-align: start;
}

.text-content p {
    color: #444645;
    font-size: 18px;
    line-height: 29px;
    text-align: start;
    font-weight: 300;
}


.slide-list-area {
    padding-top: 30px;
    padding-left: 0;
}

.slide-list-area li {
    padding-bottom: 30px;
    font-size: 20px;
    text-align: start;
    list-style: none;
    color: #fff;
    font-weight: 100;
}

.intro-text {
    font-size: 1.25rem;
    color: #6c757d; /* Bootstrap text-secondary rengi */
}

.project-img {
    width: 100%;
    object-fit: cover;
}

.project-img-1 {
    height: 245px;
}

.project-img-2 {
    height: 655px;
}

.project-img-3 {
    height: 440px;
}

.project-img-4 {
    height: 280px;
}

.project-title {
    display: block;
    font-weight: bold;
    font-size: 42px;
    letter-spacing: 4px;
}

.green-text {
    color: #025949;
}

.orange-text {
    color: #FB8925;
}

.our-works-area .explore-text {
    color: #025949;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: start;
    width: 100%;
    display: flex;
    gap: 20px;
}

.our-works-area .explore-text span {
    color: #FB8925;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: start;
    position: relative;
    display: inline-block;
    width: 100%;
}

.flex-1{
    flex:1;
}



.our-works-area .works-title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 82px;
    color: #025949;
    font-weight: 500;
}

.our-works-area .works-title span{
    color: #FB8925;
}

.our-works-area::before {
    content: "";
    position: absolute;
    left: 0;
    top: 33.7%;
    width: 84%;
    height: 13px;
    background-color: #025949; /* Turuncu Çizgi */
}

a{
    cursor:pointer;
}

.works-card{
    transition: all 0.3s ease-in-out;
}

.works-card:hover{
    transform: scale(1.05);
}

.our-works-area::after {
    content: "";
    position: absolute;
    left: 0;
    top: 34.9%;
    width: 50%;
    height: 13px;
    background-color: #FB8925; /* Yeşil Çizgi */
}

a{
    text-decoration: none;
}

.our-works-area ul {
    list-style: none;
}

.our-works-area ul li a{
    text-decoration: none;
    font-size: 32px;
    text-align: start;
    color: #C6C3C3;
    font-weight: 300;
    transition: all 300ms ease;
}

.our-works-area ul li a:hover{
    color: #FB8925;
}

.our-works-area ul li a.active{
    text-decoration: none;
    font-size: 32px;
    text-align: start;
    color: #444343;
    font-weight: bold;
}

.breadcrumb-image {
    min-height: 350px;
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .breadcrumb-image {
        min-height: 500px;
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    .breadcrumb-image {
        padding-bottom: 48px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(11deg, rgba(2, 89, 73, 0.63) 10.79%, rgba(2, 89, 73, 0) 91.78%);
    z-index: 0;
}

.breadcrumb-image .content-area {
    position: relative;
    z-index: 9;
}

.breadcrumb-image .content-area h1 {
    color: #fff;
}


@media (max-width: 992px) {


    .content-box img {
        height: 300px;
    }

    .text-content {
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }
}

.footer {
    background-color: #FB8925;
    color: white;
    padding-top: 45px;
    text-align: center;
    margin-top: 100px;
}

.footer-web {
    color: #fff;
    font-size: 20px;
    line-height: 29px;
    font-weight: 300;

}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer img {
    height: 150px;
    object-fit: cover;
    margin-top: -95px;
}

.footer-subtitle {
    font-size: 20px;
    color: lightgray;
}

.footer-text {
    font-size: 16px;
    color: #D2D2D2;
    line-height: 19px;
    font-weight: 100;
}

.footer-texts, .footer-links p {
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
}

.footer-links .fw-bold {
    font-size: 31px;
}


