
.rich-text-box {

    h1 {
        color: var(--color-gray-2);
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
    }

    h2 {
        color: var(--color-gray-2);
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    h3 {
        color: var(--color-gray-2);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
    }

    h4 {
        color: var(--color-gray-2);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    h5 {
        color: var(--color-gray-2);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    h6 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
    }

    h7 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    p, span, button, li, input, select {
        color: var(--color-gray-2);
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
    }

    small-text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }


    /*For mobile resulation */
    @media (max-width: 767px) {
        h1 {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
        }

        h2 {
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%
        }

        h3 {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
        }

        h4 {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
        }

        p, span, button, li {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }

    }
}
